*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg-color);
    color:var(--text-color);
    font-family:var(--font-family);
    line-height:1.6;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    max-width:100%;
    display:block;
}

button{
    border:none;
    cursor:pointer;
    font-family:inherit;
}

section{
    padding:120px 8%;
}

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;

    background:rgba(11,11,11,.8);
    backdrop-filter:blur(12px);

    border-bottom:1px solid var(--border-color);
}

.navbar{
    max-width:1200px;
    margin:auto;

    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 30px;
}

.logo{
    font-size:1.4rem;
    font-weight:700;
    color:var(--text-color);
}

.nav-links{
    display:flex;
    gap:40px;
}

.nav-links a{
    color:var(--text-secondary);
    transition:var(--transition);
}

.nav-links a:hover{
    color:var(--text-color);
}

.resume-btn{
    background:var(--primary-color);
    color:white;

    padding:12px 22px;

    border-radius:var(--radius);

    transition:var(--transition);

    font-weight:600;
}

.resume-btn:hover{
    background:var(--primary-hover);
}